# Order is important; the last matching pattern takes the most precedence.

# everything (whole code-base) - Junior Devs
* @pagefaultgames/junior-dev-team

# github actions/templates etc. - Dev Leads
/.github @pagefaultgames/senior-dev-team

# Art Team
/public/**/*.png @pagefaultgames/art-team
/public/**/*.json @pagefaultgames/art-team  
/public/images @pagefaultgames/art-team
/public/battle-anims @pagefaultgames/art-team
