{
	"env": {
		"browser": true,
		"es2021": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"overrides": [
		{
			"files": ["src/**/*.ts"],
			"extends": "eslint:recommended"
		}
	],
	"rules": {}
}
