# SPDX-FileCopyrightText: 2024-2025 NONE
#
# SPDX-License-Identifier: CC0-1.0

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

temp
node_modules
dist
dist-ssr
*.local
build
.pnpm-store

# Editor/OS directories and files (excluding `extensions.json` for devcontainer)
*.code-workspace
.vscode/*
.zed
!.vscode/extensions.json
!.vscode/spdx.code-snippets
.idea
.DS_Store
desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs

src/data/battle-anim-raw-data*.ts
src/data/battle-anim-data.ts

coverage

# Local Documentation
/typedoc
/dependency-graph.svg

# Script outputs
*.csv
