[submodule "public/locales"]
	path = public/locales
	url = https://github.com/pagefaultgames/pokerogue-locales.git
[submodule "public/public/locales"]
	path = public/public/locales
	url = https://github.com/pagefaultgames/pokerogue-locales.git
