# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/images/trainer/convert/*
public/images/battle_anims/input/*.png
public/images/pokemon/input/*.png
public/images/pokemon/input/output/*
public/images/pokemon/icons/input/*.png
public/images/pokemon/icons/input/output/*
public/images/character/*/
src/data/battle-anim-raw-data*.ts
src/data/battle-anim-data.ts
src/overrides.ts

coverage
/.vs

# Local Documentation
/typedoc

