name: Detect Labels

on:
    pull_request_target:
        types: [labeled]
        branches:
            - main
            - beta
            - release
            - "hotfix*"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

jobs:
    upload-label-data:
        if: github.event.label.name == 'Awaiting Locales' || github.event.label.name == 'Update Locales' || github.event.label.name == 'Update Assets'
        runs-on: ubuntu-latest
        steps:
            - name: Save PR info
              run: |
                  mkdir -p ./pr
                  echo ${{ github.event.number }} > ./pr/NR
                  echo ${{ github.event.label.name }} > ./pr/LABEL
                  echo ${{ github.event.pull_request.head.ref }} > ./pr/REF
                  echo ${{ github.event.pull_request.head.repo.full_name }} > ./pr/REPO
            - uses: actions/upload-artifact@v4
              with:
                  name: pr-data
                  path: pr/
