name: PR Title Validation
on:
  pull_request:
    branches:
      - main
      - beta
    types: [opened, edited, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-pr:
    name: Lint PR title
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          submodules: false
          sparse-checkout: |
            package.json
            pnpm-lock.yaml
            tsconfig.json
            .github/scripts/pr-title.ts

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install Node.js dependencies
        run: pnpm add @actions/core @actions/github tsx

      - name: Lint PR title
        run: pnpm exec tsx ./.github/scripts/pr-title.ts
        env:
          INPUT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
