name: Tests

on:
  push:
    branches:
      - main
      - beta
      - release
      - 'hotfix*'
  pull_request:
    branches:
      - main
      - beta
      - release
      - 'hotfix*'
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COVERAGE_FILE: coverage/coverage-summary.json
  SHOULD_UPLOAD_COVERAGE: ${{ github.repository == 'pagefaultgames/pokerogue' && github.ref_name == 'beta' && github.event_name == 'push' }}

jobs:
  check-path-change-filter:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      all: ${{ steps.filter.outputs.all }}
    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github/test-filters.yml
          sparse-checkout-cone-mode: false

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: .github/test-filters.yml

  run-tests:
    name: Run Tests
    needs: check-path-change-filter
    if: ${{ needs.check-path-change-filter.outputs.all == 'true'}}
    strategy:
      # don't stop upon 1 shard failing
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4, 5]
    uses: ./.github/workflows/test-shard-template.yml
    with:
      shard: ${{ matrix.shard }}
      totalShards: 5
      # Need to duplicate condition from SHOULD_UPLOAD_COVERAGE as `env` is not valid context here
      coverage: ${{github.event_name == 'push' && github.ref_name == 'beta'}}

  check-results:
    name: Check Test Results
    timeout-minutes: 8
    needs: run-tests
    runs-on: ubuntu-latest
    if: ${{ needs.run-tests.result != 'skipped' && needs.run-tests.result != 'cancelled' }}

    # Only output coverage badges on pushes to beta, as that will allow us to access the gist coverage token.
    outputs:
      coverage_report: ${{ steps.output-coverage.outputs.report }}
      # Setting this as an output bypasses env not being available inside job if statements
      should_upload_coverage: ${{ env.SHOULD_UPLOAD_COVERAGE }}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github/actions/setup-deps/action.yml
            test/setup
            test/test-utils/reporters/custom-default-reporter.ts

      - uses: ./.github/actions/setup-deps

      - name: Download blob artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: shard-?-blob
          path: test-results
          merge-multiple: true

      - name: Merge blobs
        run: pnpm test:merge-reports --coverage=${{ env.SHOULD_UPLOAD_COVERAGE }}
        id: merge-reports

      - name: Output coverage report
        id: output-coverage
        if: ${{ env.SHOULD_UPLOAD_COVERAGE && success()}}
        run: echo "report="$(cat ${{ env.COVERAGE_FILE }})"" >> $GITHUB_OUTPUT

  upload-coverage:
    name: Upload Test Coverage Badge
    needs: check-results
    if: ${{ needs.check-results.result != 'skipped' && needs.check-results.result != 'cancelled' && needs.check-results.outputs.should_upload_coverage == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Verify secret validity
        run: |
          if [ -z "${{ secrets.COVERAGE_GIST_ACCESS_TOKEN }}" ]; then
            printf "COVERAGE_GIST_ACCESS_TOKEN secret is not set!\nAre you trying to run this from inside a fork?"
            return 1
          fi
          if [ -z "${{ vars.COVERAGE_BADGE_GIST_ID }}" ]; then
            printf "COVERAGE_BADGE_GIST_ID variable is not set!\nAre you trying to run this from inside a fork?"
            return 1
          fi

      - name: Update failure README badge
        uses: schneegans/dynamic-badges-action@e9a478b16159b4d31420099ba146cdc50f134483 # v1.7.0
        if: ${{ needs.check-results.result == 'failure' && success() }}
        with:
          namedLogo: vitest
          color: red
          auth: ${{ secrets.COVERAGE_GIST_ACCESS_TOKEN }}
          gistID: ${{ vars.COVERAGE_BADGE_GIST_ID }}
          filename: coverage-badge.json
          label: "Tests"
          message: "failing"
          forceUpdate: true

      - name: Extract coverage percentage
        run: echo "COVERAGE_PERCENTAGE=$(jq '.total.branches.pct' <<< '${{needs.check-results.outputs.coverage_report}}')" >> $GITHUB_ENV
        if: ${{ needs.check-results.result == 'success' && success() }}

      - name: Verify coverage percentage validity
        run: |
          if ! [[ '${{ env.COVERAGE_PERCENTAGE}}' =~ ^[0-9]+\.?[0-9]+$ ]]; then
            printf "COVERAGE_PERCENTAGE env variable (value \"%s\") is not a valid number!\n" '${{ env.COVERAGE_PERCENTAGE}}'
            return 1
          fi
          if ! (( "$(echo "0 <= $COVERAGE_PERCENTAGE <= 100" | bc -l)" )); then
            printf "COVERAGE_PERCENTAGE env variable (value \"%s\") is not between 0 and 100!\n" '${{ env.COVERAGE_PERCENTAGE}}'
            return 1
          fi
        if: ${{ needs.check-results.result == 'success' && success() }}

      - name: Update coverage README badge
        uses: schneegans/dynamic-badges-action@e9a478b16159b4d31420099ba146cdc50f134483 # v1.7.0
        if: ${{ needs.check-results.result == 'success' && success() }}
        with:
          # Interpolate smoothly between red (0%) and green (90+%)
          valColorRange: ${{ env.COVERAGE_PERCENTAGE }}
          minColorRange: 0
          maxColorRange: 90
          message: "${{ env.COVERAGE_PERCENTAGE }}%"
          namedLogo: vitest
          auth: ${{ secrets.COVERAGE_GIST_ACCESS_TOKEN }}
          gistID: ${{ vars.COVERAGE_BADGE_GIST_ID }}
          filename: coverage-badge.json
          label: "Test Coverage"
          forceUpdate: true
