name: Test Template

on:
  workflow_call:
    inputs:
      shard:
        description: The numerical index of the current shard; must be no greater than totalShards.
        required: true
        type: number
      totalShards:
        description: The total number of shards to split tests into; should be the same across shards.
        required: true
        type: number
      coverage:
        description: Whether to collect test coverage.
        required: false
        type: boolean
        default: false

jobs:
  test:
    # We can't use dynamically named jobs until https://github.com/orgs/community/discussions/13261 is implemented
    name: Shard
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - uses: ./.github/actions/setup-deps

      - name: Run tests
        run: >
          pnpm test:silent
          --shard=${{ inputs.shard }}/${{ inputs.totalShards }}
          --reporter=blob
          --coverage=${{ inputs.coverage }}
          --outputFile=test-results/blob-${{ inputs.shard }}.json
          || true

      # NB: This CANNOT be made into a job output due to not being extractable from the matrix:
      # https://github.com/orgs/community/discussions/17245
      - name: Upload test result blobs
        uses: actions/upload-artifact@v4
        with:
          name: shard-${{ inputs.shard }}-blob
          path: test-results
          retention-days: 1 # don't need to keep for very long since they get merged afterwards
          overwrite: true
          if-no-files-found: error
        if: ${{ !cancelled() }}
